# .gitignore - List of filenames git should ignore

# Filenames that should be ignored wherever they appear
*~
*.pyc
*.pyo
TAGS
tags
ID
.DS_Store*

# Vim swap files.
.*.sw[a-z]

# User files that may appear at the root
/.mozconfig*
/mozconfig
/configure
/config.cache
/config.log
/.clang_complete
/mach.ini

# Empty marker file that's generated when we check out NSS
security/manager/.nss.checkout

# Build directories
/obj*/

# Build directories for js shell
*/_DBG.OBJ/
*/_OPT.OBJ/

# SpiderMonkey configury
js/src/configure
js/src/autom4te.cache
# SpiderMonkey test result logs
js/src/tests/results-*.html
js/src/tests/results-*.txt

# Java HTML5 parser classes
parser/html/java/htmlparser/
parser/html/java/javaparser/

# Ignore the files and directory that Eclipse IDE creates
.project
.cproject
.settings/

# Python virtualenv artifacts.
python/psutil/*.so
python/psutil/*.pyd
python/psutil/build/

AUTHORS
Android.mk
LEGAL
LICENSE
Makefile.in
README.txt
accessible/
aclocal.m4
allmakefiles.sh
b2g/
browser/LICENSE
browser/Makefile.in
browser/app/
browser/base/content/*.*
browser/branding/
browser/build.mk
browser/components/
browser/config/
browser/confvars.sh
browser/devtools/
browser/extensions/
browser/fuel/
browser/installer/
browser/locales/
browser/makefiles.sh
browser/modules/
browser/themes/
build/
caps/
chrome/
client.mk
client.py
config/
configure.in
content/
db/
dbm/
docshell/
dom/Makefile.in
dom/activities/
dom/alarm/
dom/apps/
dom/base/
dom/battery/
dom/bindings/
dom/bluetooth/
dom/browser-element/
dom/camera/
dom/contacts/
dom/devicestorage/
dom/dom-config.mk
dom/file/
dom/fm/
dom/icc/
dom/imptests/
dom/indexedDB/
dom/interfaces/
dom/ipc/
dom/locales/
dom/media/
dom/messages/
dom/mms/
dom/network/
dom/payment/
dom/permission/
dom/plugins/
dom/power/
dom/settings/
dom/sms/
dom/src/
dom/system/
dom/telephony/
dom/tests/
dom/time/
dom/webidl/
dom/wifi/
dom/workers/
editor/
embedding/
extensions/
gfx/
hal/
image/
intl/
ipc/
js/
layout/
mach
media/
memory/
mfbt/
mobile/
modules/
mozglue/
mozilla-config.h.in
netwerk/
nsprpub/
other-licenses/
parser/
probes/
profile/
python/
rdf/
security/
services/
startupcache/
storage/
t
testing/
toolkit/Makefile.in
toolkit/addon-sdk/
toolkit/components/
toolkit/content/
toolkit/crashreporter/
toolkit/devtools/
toolkit/library/
toolkit/locales/
toolkit/mozapps/
toolkit/obsolete/
toolkit/profile/
toolkit/system/
toolkit/themes/
toolkit/toolkit-makefiles.sh
toolkit/toolkit-tiers.mk
toolkit/webapps/
toolkit/xre/
tools/
uriloader/
view/
webapprt/
widget/
xpcom/
xpfe/
xulrunner/
.gdbinit
.hg/
.hgignore
.hgtags
browser/base/jar.mn